button {
    border: 1px solid blue;
    background-color: lightblue;
    color: black;
}


.userEditForm {
    display: none;
    position: fixed;
    padding-top: 8%;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.theModalContent {
    background-color: #fdfef4;
    margin: auto;
    padding: 30px;
    border: 1px solid  #282828;
    width: 70%;
}

.edit-user-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2.5rem;
}

.form-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-buttons button {
    margin-right: 25px;
}

.close {
    font-size: 25px;
    color: red;
    float: right;
    cursor: pointer;
    text-decoration: none;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
}

.center-message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 40%;
    margin-top: 13%;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .login-form-btn {
    min-height: 38px;
    border-radius: 2px;
}
.login-form-btn {
    font-size: 15px;
    font-weight: bold;
}

.user-avatar {
    width: 150px;
    border-radius: 50%;
}

.user-avatar-wrapper {
    background-color: #fdfef4;
    border: none;
}

.errors {
    display: none;
    border: none;
    justify-content: center;
    align-items: center;
}

.add-users-button {
    margin: 0 1% 1% 0;
}

.google-pie-chart {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.the-pie {
    width: 900px;
    height: 500px;
}
